!!!5
html
  head
    block head
      title
        block title
          |&nbsp; tech lab 4
      link(href="/assets/stylesheets/bootstrap.min.css", rel="stylesheet", type="text/css")
      link(href="/assets/stylesheets/main.css", rel="stylesheet", type="text/css")
      //- style(type="text/css")

  body
    #global
      div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
          div.container-fluid
            a(href="/").brand tech lab 4
            div.pull-right: ul.nav: li: a(href="/new").new NEW
      #container.container
        block main
      footer &copy; Copyright kageya.ma All rights reserved.

    block script
      script(type="text/javascript", src="/assets/scripts/libs/require.js", data-main="/assets/scripts/main")
